.bg-theme{
    background: #14120b;
    color: #edecec;
    font-family: "CursorGothic","CursorGothic Fallback",system-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.apply-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 95.75px;
}

.gap-5 {
    gap: 5px;
}

.pad-nav{
    padding: 5.6px 15px
}

.cursor-pointer {
    cursor: pointer;
}

.head {
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
}

.width-fix{
    height: 52px;
}

.signin{
    font-size: 0.875rem;
    padding: .4em .75em .42em;
    background: #14120b;
    color: #edecec;
    border: 1px solid #757373;
    border-radius: 3.40282e38px;
}

.download {
    font-size: 0.875rem;
    padding: .4em .75em .42em;
    border: 1px solid #757373;
    border-radius: 3.40282e38px;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
}

.mt-x {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.text-left {
    text-align: left;
}

.max-w-prose {
    max-width: 65ch;
}

.type-md-lg {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 480;
    /* letter-spacing: -0.08rem; */
}

.text-balance {
    text-wrap: balance;
}

.mb-v1 {
    margin-bottom: calc(1rem*1.4);
}

.mb-v4{
    margin-bottom: calc(1rem*1.4*4);
}

.mb-v4-5{
    margin-bottom: calc(1rem*1.4*4.5);
}

main>.section:first-child, .section--first-child {
    padding-block-start: calc(1rem*1.4*5);
}

.pad-blk-start {
    padding-block-start: calc(1rem*1.4*5);
}

.hero-banner {
    width: 100%;
}

.pt-0 {
    padding-top: 0 !important;
}

.grid-1-8 {
    display: grid;
    grid-template-columns: repeat(8,  1fr);
    grid-template-rows: 1fr;
    gap: calc(calc(10rem/16) * 1);
}

.cards {
    background-color: #1b1913;
    position: relative;
    padding-inline: calc(calc(10rem/16) * 0.75);
    display: flex;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.card-background {
    background-color: #1b1913;
    /* border: 2px solid red; */
}

.text-theme-text {
    color: #edecec;
}

.section--flush-y {
    padding-block: 0 !important;
}

.card-pad {
    padding: calc(calc(10rem/16)*1.75);
}

.type-md {
    font-size: 1.375rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: -0.005em;
}

.text-color-sec{
    color: color-mix(in oklab, #edecec 60%, transparent);
}

.mt-v8-12 {
    margin-top: calc(1rem*1.4*8/12);
}

.clr {
    color: #f54e00;
}

.m0{
    margin: 0 !important;
}

.order-2 {
    order: 2;
}

.btn {
    background-color: var(--color-theme-button-bg);
    border: 1px solid var(--color-theme-button-bg);
    color: var(--color-theme-button-text);
    cursor: pointer;
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    padding: var(--button-padding-default);
    border-radius: 3.40282e38px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    display: inline-flex;
    text-decoration: none;
}

.mb-2 {
    margin-bottom: calc(1rem*1.4*2);
}

.section {
    padding: calc(1rem * 1.4 * 3) calc(calc(10rem/16)*2);
}

.text-center {
    text-align: center;
}

.type-sm {
    font-family: var(--font-sans);
    font-size: 0.95rem;
    line-height: var(--leading-normal);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--tracking-sm);
}

:root {
    --color-theme-button-bg: #edecec;
    --color-theme-button-text: #14120b;
    --text-base: 1rem;
    --font-weight-normal: 400;
    --button-padding-default: 0.78rem 1.35rem 0.8rem;
    --font-sans: "CursorGothic","CursorGothic Fallback",system-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
    --text-sm: 0.875rem;
    --leading-normal: 1.5;
    --tracking-sm: 0.01rem;
    --leading-normal: 1.5;
    --text-2xl: 4.5rem;
    --leading-tight: 1.1;
    --tracking-2xl: -0.03em;
}

.type-2xl{
    font-size: var(--text-2xl);
    line-height: var(--leading-tight);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--tracking-2xl);
}

.p-30{
    padding-left: 30px;
}

.mx-auto{
    margin-inline: auto;
}

.mb-v2-5 {
    margin-bottom: 56px;
}

.type-lg {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.grid-2-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* border: 1px solid red; */
}

.testimonial-card{
    padding-inline: calc(calc(10rem/16)*1.75);
    padding-top: 15.9px;
    padding-bottom: 17.5px;
    background-color: #1b1913;
    border-radius: 4px;
    position: relative;
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.items-start{
    align-items: flex-start;
}

.grow-1{
    flex-grow: 1;
}

.gap-g1{
    gap: calc(calc(10rem/16)*1);
}

.type-base{
    font-size: 1.05rem;
    line-height: 1.5;
    font-weight: 470;
    letter-spacing: 0.005em;
    white-space: pre-wrap;
}

.mt-v2{
    margin-top: 60px;
}

.media-logo {
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
    z-index: 1;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.block {
    display: block;
}

.ml-10px-border{
    margin-left: 10px;
    border-radius: 4px;
}

.aspect-box{
    grid-template-rows: repeat(1,minmax(0,1fr));
    grid-template-columns: repeat(1,minmax(0,1fr));
    display: grid;
}

.row-span-full{
    grid-row: 1 / -1;
}

.col-span-full{
    grid-column: 1 / -1;
}

.grid{
    display: grid;
}

.grid-cols-3{
    grid-template-columns: repeat(3,minmax(0,1fr));
}

.grid-cols-4{
    grid-template-columns: repeat(4,minmax(0,1fr));
}

.grid-cols-5{
    grid-template-columns: repeat(5,minmax(0,1fr));
}

.frontier-card{
    padding-inline: calc(calc(10rem/16)*1.75);
    padding-top: 15.9px;
    padding-bottom: 17.5px;
    background-color: #1b1913;
    border-radius: 4px;
    position: relative;
}

.changelog-card {
    padding-inline: calc(calc(10rem/16)*1.75);
    padding-top: 15.9px;
    padding-bottom: 17.5px;
    background-color: #1b1913;
    border-radius: 4px;
    position: relative;
}

.justify-between{
    justify-content: space-between;
}

.text-pretty {
    text-wrap: pretty;
}

.pt-18{
    padding-top: 18px;
}

.mt-r {
    margin-top: 13.0667px;
}

.label {
    font-family: var(--font-sans);
    font-size: var(--text-sm);
    line-height: var(--leading-normal);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--tracking-sm);
    border: 1px solid;
    border-color: inherit;
    color: inherit;
    font-feature-settings: "tnum";
    border-radius: 3.40282e38px;
    padding: .28em .65em .29em;
    line-height: 1;
    display: inline-flex;
    position: relative;
    top: .03125rem;
}

.mr-12{
    margin-right: 12.8px;
}

.mt-v1{
    margin-top: 22.4px;
}

.h-full{
    height: 100%;
}

.w-full{
    width: 100%;
}

.border-radius-4px{
    border-radius: 4px;
}

.highlights-card{
    padding-inline: calc(calc(10rem/16)*1.75);
    padding-top: 15.9px;
    padding-bottom: 17.5px;
    max-width: 618px;
    background-color: #201e18;
    border-radius: 4px;
    position: relative;
}

.mr-200 {
    margin-right: 200px;
}

.mb-g1 {
    margin-bottom: calc(calc(10rem/16) * 1);
}

.justify-center{
    justify-content: center;
}

.gap-x-g1{
    column-gap: calc(calc(10rem/16) * 1);
}

.gap-y-v2{
    row-gap: calc(1rem*1.4*2);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pb-v2-5 {
    padding-bottom: 4.66667px;
}

.pb-g3{
    padding-bottom: calc(calc(10rem/16) * 3);
}

.pt-v3{
    padding-top: calc(1rem*1.4*3);
}

.px-g2{
    padding-inline: calc(calc(10rem/16) * 2);
}

.py-v2-5-12{
    padding-block: calc(1rem*1.4*2.5/12);
}

.gap-v2{
    gap: calc(1rem*1.4*2);
}

.gap-g1-5{
    gap: calc(calc(10rem/16) * 1.5);
}